*{
    padding: 0;
    margin: 0;
}
html, body {
  height: 100%;
}
#container {	
    background-color: black;
    display: table;
    height: 90%;
    width: 100%;
}

#Bloco1
{
    display: table-footer-group;
    background: url('../img/foto_fundo.png') ;
    background-position: center;
    background-size: cover; 
    text-align: center;
 
}


#Bloco1 img
{
    background-size: cover;
  
}
#Center .b2{
    margin-bottom: 35px;
}
#Center .p1{
   margin-left: 5px;
}
#Center .p2{
    margin-left: 5px;
}

#Bloco2 {
    display: flex;
    justify-content: center;
}
#Bloco2 #Center{
    margin-top: 25px;
}


#Bloco2 button{
    margin: 0;
    position: relative;
    top: 35px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   width: 375px;
   height: 46px;
   border-radius: 50px 50px;
   
}
#Bloco2 #button1{
    width: 425px;
    height: 50px;
    border-radius: 50px 50px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    background-color: #1A91DA;
 }
 #Bloco2 #button2{
    width: 425px;
     height: 50px;
     font-size: 15px;
     border-radius: 50px 50px;
     background-color: black;
     color: #1A91DA;
     font-weight: bold;
     border-color: #1A91DA;
  }
#Footer{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: black;
    justify-content: center;
}
#Footer div
{
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
}
#Footer div a{
    margin-left: 7px;
    margin-right: 7px;
    font-size: 14px;
    color: gray;
    text-decoration:none; 
}
#Footer div a:hover{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    color: white;
    text-decoration:underline;
}

.p1{
    color: white;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    font-family: "Roboto";
}
.p2{
    color: white;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    font-family: "Roboto";
}

.b2{
 height: 54.6px;
 width:  62.57px;

}