*{
    padding: 0;
    margin: 0;
}
html, body {
  height: 100%;
}
#container {	
    background-color: black;
    display: table;
    height: 100%;
    width: 100%;
}

#Bloco1
{
    display: table-footer-group;

    background: url('../img/foto_fundo.png') ;
    background-position: center;
    background-size: cover; 
    text-align: center;
}


#Bloco1 img
{
    object-fit: cover;

}

#Bloco2 {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
#Bloco2 #Center{
    width: 500px;      
}


#Bloco2 button{
    margin: 0;
    position: relative;
    top: 10px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   width: 375px;
   height: 46px;
   border-radius: 50px 50px;
   
}

.p1{
    color: white;
    font-size: 90px;
    text-align: left;
}
.p2{
    color: white;
    font-size: 40px;
    text-align:center;
}

.b2{
 height: 54.6px;
 width:  62.57px;

}